<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Edit Book</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
  <h2 class="mb-5">Edit Book</h2>
  <div class="row">
    <div class="col-md-6">
      <form action="#" th:action="@{/edit-book/{id}(id=${book.id})}" th:object="${book}" method="post">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name" class="col-form-label">Title</label>
            <input type="text" th:field="*{title}" class="form-control" id="name" placeholder="Title">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
          </div>
          <div class="form-group col-md-6">
            <label for="author" class="col-form-label">Author</label>
            <input type="text" th:field="*{author}" class="form-control" id="author" placeholder="Author">
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{email}" class="text-danger"></span>
          </div>
          <div class="form-group col-md-6">
            <label for="summary" class="col-form-label">Summary</label>
            <textarea th:field="*{summary}" class="form-control" id="summary" placeholder="Summary" />
            <span th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-5">
            <input type="submit" class="btn btn-primary" value="Save Book">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>